@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body {
  background-color:black;

  * {
    box-sizing: border-box;
    font-family: 'Raleway',
      sans-serif;

  }
}

/* You can add global styles to this file, and also import other style files */
